@{
    ViewBag.Title = "Home Page";
}

<body>
    <div class="jumbotron">
        <style>
            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
        </style>

        <img src="~/Content/Image/FishHunterLogo.jpg" height="150" width="150" class="center" />

        <p style="text-align:center">
            Keep a record of your fishing trips, recall what lures/baits worked in what conditions and organize pictures for bragging rights</pstyle="text-align:center">

            <style>
                img
                {
                    width: 200px;
                    height: 180px;
                }
            </style>

                    <p style="text-align:center"><font size="6"> These are your favorite catches!</font></>
            <table align="center">
                <tr>
                    <td>
                        <img src="~/Content/Image/SampleFish1.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish2.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish3.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish4.jpg" />
                    </td>
                </tr>
            </table>

            <a href="URL"> Your Text / button here"</a>
</div>
</body>


<div class="row">

</div>