@{
    ViewBag.Title = "Home Page";
}

<head>

</head>
<body>
    <div class="jumbotron">
        <style>
            body {
                background-color: #6699ff;
            }

            img {
                display: block;
                margin-left: auto;
                margin-right: auto;
            }

            button {
                background-color: #B0C4DE;
            }

            a.btn {
                color: #000000;
                background-color: #B0C4DE;
            }
        </style>
   
        <img src="~/Content/Image/Fisherman-gets-slapped-in-face-by-a-carp.gif" />
        <img src="~/Content/Image/FishHunterLogo.jpg" height="150" width="150" class="center" />

        <p style="text-align:center">
            <font size="3">
                Keep a record of your fishing trips, recall what lures/baits worked in what
                conditions and organize pictures for bragging rights
            </font>
        </p>

        <style>
            img {
                width: 220px;
                height: 180px;
            }
        </style>

        <p style="text-align:center">
            <font size="5"> These are your favorite catches!</font></>
            <table align="center">
                <tr>
                    <td align: center;>
                        <img src="~/Content/Image/SampleFish1.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish2.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish3.jpg" />
                    </td>
                    <td>
                        <img src="~/Content/Image/SampleFish4.jpg" />
                    </td>
                </tr>
                <tr align="center">
                    <td><a href=@Url.Action("CatchData", "Home") class="btn btn-lg" role="button"> Add Catch</a></td>
                    <td>@Html.ActionLink("Edit/Add Catch", "Index", "CatchDatas", null, new { @class = "btn btn-lg" })</td>
                    <td><button class="btn btn-lg">Delete Catch</button></td>
                    <td><button class="btn btn-lg">Settings</button></td>
                </tr>
            </table>
    </div>
</body>


<div class="row">

</div>