@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <style>
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    </style>

    <img src="~/Content/Image/FishHunterLogo.jpg" height="150" width="150" class="center" />

    <p style="text-align:center">Keep a record of your fishing trips, recall what lures/baits worked in what conditions and organize pictures for bragging rights</pstyle="text-align:center">

    <style>
        .fluid-ratio-resize {
            max-width: 960px; /* actual img width */
            *height: 150px; /* actual img height - IE7 */
        }
            .fluid-ratio-resize:after {
                content: " ";
                display: block;
                width: 100%;
                padding-top: 4.918%; /* slope */
                height: 102.786px; /* start height */
            }
    </style>
    <body>

    <table width="500px" height="80%" border="1">
        <tr>
            <p style="text-align:center"><font size="6"> These are your favorite catches!</font></p>
        </tr>
        <tr>
            <td>
                <img src="~/Content/Image/SampleFish1.jpg" />
            </td>
            <td>
                <img src="~/Content/Image/SampleFish2.jpg" />
            </td>
            <td>
                <img src="~/Content/Image/SampleFish3.jpg" />
            </td>
            <td>
                <img src="~/Content/Image/SampleFish4.jpg" />
            </td>
        </tr>
    </table>
    </body>

</div>

<div class="row">

</div>